.video-page-container{
    margin:0 auto;
    width:100%;
    max-width: 832px;
    margin-top:3rem;
    color:whitesmoke;
    height:max-content;
}

.creator-profile .img{
    width: 50px;
    height: 50px;
  border-radius: 40px; 
  padding:10px;
}
.video-src{
    height:468px;
}
.video-page-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.8rem;
}
.video-page-info{
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}
.video-page-info .left{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    
}
.video-page-info .right{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    gap:10px;
    
}
.video-page-btn{
    background-color: var(--primary-color);
    border:none;
    color:white;
}
.video-page-content{
    margin-top: 0.8rem;
}
.video-creator{
    display: flex;
    align-items: center;
}
@media only screen and (max-width : 1024px){
    .video-src{
        height:24rem;
    }
    .video-page-container{
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 768px){
    .video-src{
        height:22rem;
    }
    .video-page-container{
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 426px){
    .video-src{
         height:20rem;
    }
    .video-page-container{
        margin-left: 0em;
    }
    
}