* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

.form {
    width: 25%;
    margin: 100px auto 0;
    border: 1px solid gray;
    padding: 1.2rem 1.2rem;
    border-radius: 12px;
}


.login-form input {
    width: 90%;
    padding: 0.5rem;
    margin: 5px 0 22px 0;
    
}
h2{
    color:var(--secondary-color)
}
label,p{
    color:white;
}
.sign-in-button {
    padding: 0.8rem;
    border: none;
    margin: 10px 10px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    width:50%;
    margin-left: 25%;
}
.sign-in-button-outlined {
    padding: 0.8rem;
    border: none;
    margin: 10px 10px;
    border:1px solid var(--primary-color);
    
    border-radius: 5px;
    width:90%;
}

.sign-up-info {
    text-align: center;
    margin: 1rem;
}
#eye-icon{
    margin-left:-10%;

}
#eye-icon-slash{
    margin-left:-10%;

}
.sign-up-button {
    padding: 1rem;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    margin: 1rem 0;
}

@media only screen and (max-width: 700px) {
  
    .form {
        width: 90%;
        margin-top: 50px;
    }
   
}