
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --bg-color:#28293D;
    --secondary-color:#11d372;
    --white-color:#FFFFFF;
    --nav-bg:#1e1f36;
    --gray-color:#f1f1f1;
    --secondary-bg-color:#98f9c8;
    --playlist-bg:#8aeebc;
}
body{
    background-color: var(--bg-color);
}